body{
font-family:'Montserrat'
}

h1{
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

#title {
    background-color:pink;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.title-img {
  background-color: transparent;
  transform: rotate(25deg);
  width:70%;
  padding-left:20%;
  position: absolute;
  right: 30%;
}

@media (max-width: 1000px) {
    .title-img{
        transform: rotate(0deg);
        position: static;
        padding:0;
        margin-left: auto;
        margin-right: auto;
    }
    #title{
        text-align: center;
    }

}

/* navigation bar */

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-family: "Montserrat";
    font-weight:400;
    font-size:1.2rem;
}

/* Download buttons */

.dwn-button{
    margin: 3% 3% 5% 0;
}

#features{
    position: relative;
    z-index: 1;
}

.features{
    padding-left: 15%;
    padding-right: 15%;
}
.feature-title{
    font-family:"Montserrat";
    font-weight:600;
    font-size: 1.5rem;
    padding-top: 1.5%;
}

.fa-3x{
    color:#ef8172;
}

.fa-3x:hover {
  color: red;
}


/* testimonial section*/

#testimonials{
    text-align: center;
    background-color: pink;
    color:#fff;
}

.testimonial-img{
    width:10%;
    border-radius: 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.carousel-control-prev{
    margin-left: 60px;
}
.carousel-control-next{
    margin-right: 60px;
}

.carousel-item{
    padding: 5% 15%;
}

/* press section */
#press{
    background-color: pink;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 10%;
    margin: 20px 20px 20px 50px;
}

/* pricing */

#pricing{
    padding: 5% 10% 5% 10%;
    text-align: center;

}

.card{
    margin-bottom: 10%;
}

/* call to action */
#cta{
    background-color: pink;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%
}

.cta-text{
    font-family: "Montserrat";
    font-weight: 900;
    color: white;
}

.cta-btn{
    margin: 2%;
}

#footer{
    text-align: center;
    margin-top: 7%;
}

.copyright{
    font-size: 0.9rem;
    color: #8f8f8f;
}

.ctai{
    padding:0 5px 0 5px;
}